@keyframes slideUpToDown {
  from {
    margin-top: -10rem;
  }
  to {
    margin-top: 0;
  }
}

@keyframes flip {
  from {
    transform: rotateY(0deg) scale(1);
  }
  to {
    transform: rotateY(360deg) scale(1.1);
  }
}
