@keyframes slideUpToDown {
  from {
    margin-top: -10rem;
  }
  to {
    margin-top: 0;
  }
}

@keyframes flip {
  from {
    transform: rotateY(0deg) scale(1);
  }
  to {
    transform: rotateY(360deg) scale(1.1);
  }
}

@keyframes appearInPageAnim {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(2deg);
  }
  80% {
    transform: rotateZ(-2deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes anim-stars {
  from {
      transform: translateY(0px);
  }
  to {
      transform: translateY(-150px);
  }
}