.footer {
    background-color: var(--dark-black);
    height: 5.5rem;
    font-size: 1.25rem;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slideUpToDown 0.2s;
    z-index: 1;
    list-style: none;
  }