main{
  padding-top: 6.125rem;
  min-height: calc(100vh - 6.125rem - 6rem);
}

footer {
  bottom: 0;
  background-color: var(--dark-black);
  height: 6rem;
  font-size: 1.25rem;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: slideUpToDown 0.2s;
  z-index: 1;
  list-style: none;
}

footer > span {
  font-size: 4rem;
  color: var(--yellow);
}


@media (max-width: 615px) {
  footer {
    flex-direction: column;
  }
}