:root {
  --dark-black: #121317;
  --light-black: #06111c;
  --yellow: #f2db0b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", sans-serif;
  background-color: var(--light-black);
  color: yellow;
}
