#geek {
  width: 100vw;
  height: 70vh;
  background-image: url("../assets/geek.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-image: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  mix-blend-mode: overlay;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -16vh;
}

.controller {
  z-index: 1;
  width: 122px;
  height: 81px;
}

.p-geek-1 {
  font-family: Rubik;
  font-size: 30px;
}

.p-geek-2 {
  font-family: Rubik;
  font-size: 30px;
}
