nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
}

.nav-content{
    display: flex;
    margin-right: 100px;
    background-color: var(--dark-black);
}

.nav-content > h4 {
    margin-right: 100px;
}

@media (max-width: 930px) {
    .nav-content{
        margin-right: 20px;
    } 

    .nav-content > h4 {
        margin-right: 40px;
    }
}