#title {
  margin-top: 5rem;
  margin-bottom: 4rem;
  text-align: center;
  width: 100%;
  font-size: 2.25rem;
  text-transform: uppercase;
  text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0), -1.5px 1.5px 1.5px rgba(0, 0, 0),
    1.5px -1.5px 1.5px rgba(0, 0, 0), -1.5px -1.5px 1.5px rgba(0, 0, 0);
}

.News-container {
  min-height: 80vh;
  padding: 30px;
  padding-bottom: 30px;
}

.News-container .blocks {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 85%;
  margin: 0 auto;
}

.News-container .news {
  flex: 1 1 200px;
  margin: 10px;
  text-shadow: 1.2px 1.2px 1.2px rgba(0, 0, 0), -1.2px 1.2px 1.2px rgba(0, 0, 0),
    1.2px -1.2px 1.2px rgba(0, 0, 0), -1.2px -1.2px 1.2px rgba(0, 0, 0);
}

.news.inner {
  padding: 10px;
  border: solid;
  border-radius: 20px;
  background-color: var(--dark-black);
  transition-duration: 0.75s;
  animation: ease-in 0.6s slideUpToDown;
}

.news.inner:hover {
  background-color: var(--dark-black);
  box-shadow: 6px 10px 15px rgb(0 0 0 / 25%);
  filter:  drop-shadow(0 0 0.75rem rgb(17, 17, 17));
  cursor: pointer;
  transform: scale(1.5);
}

.img img {
  border-radius: 20px;
  max-width: 100%;
  width: auto;
  display: flex;
  margin: 0 auto;
  height: 100px;
  border: solid black;
}

.img a {
  padding: 0 !important;
}

.news-content {
  display: table;
  padding: 30px 0 28px;
  margin: 0 auto;
}

.news-header {
  margin: 0 auto;
}

@media(max-width: 1200px){

  .news.inner:hover {
    transform: scale(1.2);
    }
}

@media(max-width: 800px){
  .News-container {
    display: block;
    width: 95vw;
    margin: 5vh 0;
  }
}
